.link-style {
  color: white;
  text-transform: capitalize;
  font-size: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.link-style:hover {
  opacity: 0.8;
}

.nav-bar {
  position: sticky;
  inset-block-start: 0;
  z-index: 100;
}
