.psdk-two-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .psdk-two-column {
    grid-template-columns: var(--template-col, 1fr 1fr);
  }
}

.psdk-two-column-column {
  display: grid;
  gap: 1rem;
  align-content: baseline;
}
