.quick-link-ul-list {
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(min(40ch, 100%), 1fr));
  display: grid;
  gap: calc(1rem);
}

.quick-link-list {
  background-color: #3f51b5;
  color: white;
  border-radius: 8px;
}

.quick-link-button {
  text-transform: capitalize;
  font-size: 16px;
  color: white;
  padding: calc(0.5rem * 2);
  height: 6rem;
  width: 100%;
  justify-content: start;
}

.quick-link-icon {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  filter: invert(100%);
}

.quick-link-button-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quick-link-heading {
  margin-top: 8px;
}
