@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 338 72.6% 42.9%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 336 73.1% 36.5%;

    --secondary: 240 4% 91%;
    --secondary-foreground: 210 40% 8%;

    --accent: 218 72.6% 42.9%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 218 72.6% 42.9%;

    --radius: 0.6rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 218 72.6% 42.9%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --card: 222.2 47.4% 11.2%;
    --card-foreground: 213 31% 91%;

    --primary: 338 72.6% 42.9%;
    --primary-foreground: 210 40% 98%;
    --primary-hover: 336 73.1% 36.5%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 218 72.6% 42.9%;

    --radius: 0.6rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

.psdk-root {
  background-color: var(--app-form-bg-color);
}

.portal-load-error {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 2em;
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--app-error-light-color);
}

.portal-load-error .portal-name {
  font-style: italic;
  color: var(--app-warning-color-dark);
}

.logout-btn {
  position: absolute;
  top: 1.5em;
  right: 1em;
  background: none;
  font-size: 1em;
  border: 3px solid var(--app-neutral-color);
  border-radius: 10px;
  padding: 8px 2em;
  color: var(--app-warning-color);
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: var(--app-warning-color-dark);
  color: var(--app-form-bg-color);
}

.portals-list {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1em;
  color: var(--app-primary-light-color);
  text-decoration: underline;
}

.portal-list-item:hover {
  cursor: pointer;
  color: var(--app-primary-dark-color);
}
